// Imports
@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  box-sizing: border-box;
}

// Typography
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5em;
}
// Basic Elements Reset

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background: #fafafa;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

// Layout
header {
  position: fixed;
  background: #fff;
  background-color: white;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 2;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.03);
}
.wrapper {
  // padding: 0px 15px;
}

footer {
  height: 60px;
}

@media (min-width: 768px) {
  .wrapper {
    // max-width: 980px;
    // margin: 0 auto;
    // padding: 0px 10px;
  }
}

main {
  height: calc(100vh - 140px);
  margin-top: 70px;
}
// Header

.header-logo {
  color: red;
  font-weight: 700;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 10px 0;
  height: 70px;
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Nav

.header-container .main-nav {
  display: flex;
  justify-content: space-between;
  flex-basis: 220px;
}

.header-container nav {
  background-color: #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  flex-basis: 160px;
}

@media (max-width: 768px) {
  .header-container .main-nav {
    display: flex;
    justify-content: space-between;
    flex-basis: unset;

    .item-tasks {
      order: unset;
    }

    .notifications-badge {
      top: 12px;
    }
  }

  .header-container nav {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100vw;
    border-top: 1px solid rgba(0, 0, 0, 0.0975);
  }
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: stretch;
  position: relative;
  cursor: pointer;
}

.nav-item a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-item-icon {
  width: 25px;
  height: auto;
}

.item-tasks {
  order: -1;
}

// .nav-item.user .nav-item-icon {
//   width: 30px;
//   height: 30px;
// }

.notifications-badge {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  left: -4px;
  top: 8px;
  background: red;
  color: #fff;
}

 
// Tasks

.add-task-btn {
  width: 80px;
  height: 80px;
  border-radius: 80px;
  background-color: #409eff;
  font-size: 2em;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: fixed;
  bottom: 5%;
  right: 5%;
  cursor: pointer;
  border: 0;
  box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
  &:focus {
    outline: none;
  }
  &:hover {
    background: #66b1ff;
  }
}

.login-page-el-input .el-input__inner {
  background-color: transparent !important;
  color: #fff;
}

